<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>互测工具</title>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-inverse">
    <h2 style="color:whitesmoke;"> &nbsp;&nbsp;互测工具 <small>2017OOP</small></h2>
</nav>
<div class="jumbotron">
    <h1 align="center">提交失败</h1>
    <p align="center">检查以下原因：1. 是否重复提交 2. 是否打分/理由为空。请返回页面重新提交</p>
</div>
</body>
</html>